.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
}
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
