.register-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .button-wrapper {
    margin-top: 20px;
  }

  .login-container {
    display: flex;
    justify-content: center;
  }
  .login-anchor {
    margin-left: 4px;
  }
}
